.cointainer1{
    height: 85vh;
    width: 80vh;
    background-color: rgb(212, 165, 35);
    text-align: center;
    border:2px solid black;
}

.facename{
    font:25px;
    color:aliceblue;
}
.facevalus2{
    text-align: end;
}

.clocktype1{
    font:30px;
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: rgb(171, 218, 42);
    position: relative;
    bottom: 100px;
}
.startb{
    position: relative;
    bottom: 180px;
}
.reset{
    text-align: center;
}
.facevalus3{
    position: relative;
    bottom: 60px;
}