.cointainer{
    height: 70vh;
    width: 80vh;
    background-color: rgb(94, 228, 134);
    text-align: center;
    border:2px solid black;
}
.facevalue{
    font:25px;
    margin-bottom: 30px;
}
.clocktype{
    font:30px;
    margin-top: 30px;
}
h1{
    font:900;
    font-size: 60px;
}
.facename{
    font:25px;
    color:aliceblue;
  }