.cointainer{
    height: 70vh;
    width: 100vh;
    background-color: aqua;
    text-align: center;
    border:2px solid black;
}
.facevalue{
    font:25px;
    margin-bottom: 30px;
}
.clocktype{
    font:30px;
    margin-top: 30px;
}